/venv
.history
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.csv
*.json
*.xml
*.xlsx
*.xls
payload.json
*.docx
*.pptx
*.pdf
*.zip
*.tar.gz
*.tgz
*.rar
*.7z
*.gz
*.bz2
*.xz
*.egg-info
*.egg
*.whl
*.dist-info
*.egg-info
*.egg
*.egg
*.whl
*.dist-info
*.egg-info
*.egg


